@import "/src/assets/variable.scss";
.header {
  z-index: 2;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  box-shadow: 0px 4px 20px 2px;

  &__logo {
    width: 3rem;
    padding: 0 1rem;
    align-self: center;
    cursor: pointer;
 
    > button {
      outline: none;
      border: none;
      background: none;
    }

    &:hover .las {
      color: $color-sun-flower;
    }
    
    .las {
      color: $color-orange;
      padding-top: 2px;
    }
  }

  &__bg {
    width: 100%;
    height: 100%;
    background-image: url("https://vinmec-prod.s3.amazonaws.com/images/20200416_073802_523277_tapgym.max-800x800.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(40%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__log {
    width: 100vw;
    display: flex;
    align-items: center;
    grid-area: 1 / 2 / 1 / 3;
    padding: 0 2rem;
    color: white;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);

    // Search button
    > div > a {
      height: 40px;
    }

    &--icon {
      fill: currentColor;
      margin-right: 0.5rem;
      filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
    }

    &--text {
      text-transform: capitalize;
    }
    ol {
      > li {
        padding: 20px 0;

        > a {
          cursor: pointer;
          position: relative;
          color: $color-orange;
          font-size: 11px;
          font-weight: 600;
          letter-spacing: 0.5px;
          line-height: 18px;
          text-decoration: none;
          text-transform: uppercase;
        }
        &:hover {
          > a {
            color: $color-sun-flower;
            font-size: 12px;
          }
        }
      }
    }

    >:nth-child(2) {
      > input {
        padding: 7px;
        border: 1px solid $color-carrot;
        outline-color: $color-pumpkin;
        margin-right: 0.8px;
        border-radius: 5px;
        color: $color-asbestos;
      }

      > button {
        padding: 7px 10px;
      }
    }
  }

  ol {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    list-style: none;
  }

  .menu-item {
    position: relative;
    text-align: center;
    &[aria-haspopup="true"] {
      &::after {
        position: absolute;
        content: "";
        height: 2.5px;
        bottom: 0;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 50%;
        background: $color-orange;

        /* optional animation */
        -o-transition: 0.5s;
        -ms-transition: 0.5s;
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s;
      }

      &:hover:after {
        left: -25%;
        width: 150%;
        background: $color-sun-flower;
      }
    }
    &:hover,
    &:focus-within {
      .sub-menu,
      .sub-menu:hover {
        visibility: visible;
        opacity: 1;
        display: flex;
      }
    }

    .sub-menu {
      z-index: 3;
      border-radius: 0 0 5px 5px;
      box-sizing: border-box;
      position: absolute;
      left: -25%;
      padding: 0;
      width: 150%;
      top: 100%;
      visibility: hidden;
      display: none;
      opacity: 0;
      background-image: linear-gradient(
        to right,
        $color-orange,
        $color-asbestos
      );
      .menu-item {
        margin-top: 12px;
        padding: 2px 0;
        width: 80%;
        z-index: 2;

        &::after {
          background: $color-silver;
          bottom: -5px;
        }

        &:hover {
          &::after {
            background: $color-clouds;
          }

          > a {
            color: $color-clouds;
            font-size: 12px;
          }
        }

        > a {
          color: $color-silver;
          font-size: 11px;
          text-decoration: none;
        }

        &:last-child {
          margin-bottom: 16px;
        }
      }
    }
  }
}



@media only screen and (max-width: 1200px) {
  .header {
    a {     
      text-transform: unset !important;
    }

    input {
      padding: 1px 5px !important;
    }

    button {
      padding: 1px 5px !important;
    }
    
    &__log {
      padding: 0 !important;

      > div > a {
        height: 28px !important;
      }
      >:nth-child(1),
      >:nth-child(2),
      .toggle-btn {
        padding-top: 10px !important;
      }

      >ol>li {
        padding: 0 !important;
        padding-bottom: 10px !important;
      }
    }

    &__logo {
      padding: 0 !important;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .header input::placeholder {
    font-size: 12px !important;
  }
  .header-nav {
    padding: 0;
    > a {
      padding: 0;
    }
  }
}

@media only screen and (max-width: 600px) {
  .header-main {
    background-color: $color-clouds;
    padding: 10px 5vw !important;
  }
}

@media only screen and (max-width: 426px) {
  .header {
    &__log {
      >:nth-child(1),
      >:nth-child(2),
      .toggle-btn {
        padding: 10px 0 !important;
      }
    }
    
    .menu-item {
      padding: 0 !important;
      padding-bottom: 4px !important;
      
      &[aria-haspopup="true"]::after {
        height: 1px !important;
      }
    }
  }
}