<div class="container-header">
    <div class="header-info-top" fxLayout="row" fxLayoutAlign="space-between">
        <div fxLayout="row" fxLayoutAlign="center center">
            <i class="las la-envelope la-lg"></i>
            &nbsp;
            info@thientruongsport.com
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            Kết nối chúng tôi: &nbsp;
            <i class="lab la-youtube la-lg"></i>
            <i class="lab la-twitter la-lg"></i>
            <i class="lab la-pinterest la-lg"></i>
            <i class="lab la-linkedin la-lg"></i>
            <i class="lab la-facebook la-lg"></i>
        </div>
    </div>
    <div class="header-main" fxLayout="row" fxLayoutAlign="space-between">
        <div>
            <img src="https://thientruongsport.com/template/images/logo.png" alt="company image">
        </div>
        <div fxLayout="row" fxLayoutAlign="right center">
            <input type="text">
            <button>
                Tìm kiếm
            </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="right center">
            <div>
                <i class="las la-phone la-3x"></i>
            </div>
            <div>
                <p>
                    Hotline:
                </p>
                <h1>
                    0936.442.909
                </h1>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <nav class="menu" role='navigation' fxLayout="row" fxLayoutAlign="space-between">
            <ol>
              <li class="menu-item" aria-haspopup="true">
                <a href="#0">Dụng cụ thể thao ngoài trời</a>
                <ol class="sub-menu" aria-label="submenu">
                  <li class="menu-item"><a href="#0">Máy tập gym</a></li>
                  <li class="menu-item"><a href="#0">Dụng cụ thể thao đa năng</a></li>
                  <li class="menu-item"><a href="#0">Ghế công viên</a></li>
                  <li class="menu-item"><a href="#0">Dụng cụ thể thao sân vườn</a></li>
                  <li class="menu-item"><a href="#0">Dụng cụ thể thao trường học</a></li>
                  <li class="menu-item"><a href="#0">Trụ cầu lông</a></li>
                  <li class="menu-item"><a href="#0">Trụ bóng rổ</a></li>
                </ol>
              </li>
              <li class="menu-item" aria-haspopup="true">
                <a href="#0">Kabobs</a>
                <ol class="sub-menu" aria-label="submenu">
                  <li class="menu-item"><a href="#0">Shishkabobs</a></li>
                  <li class="menu-item"><a href="#0">BBQ kabobs</a></li>
                  <li class="menu-item"><a href="#0">Summer kabobs</a></li>
                </ol>
              </li>
              <li class="menu-item"><a href="#0">Contact</a></li>
            </ol>
          </nav>
    </div>
</div>