@import '/src/assets/variable.scss';

.home-container {
  > main {
    .about-us {
      > h3 {
        position: relative;
        > strong {
          color: $color-pumpkin;
        }
        > span {
          position: absolute;
          top: -24px;
          left: calc(50% - 149px);
          font-family: $font-srisakdi;
          color: $color-asbestos;
        }
      }
      > div {
        color: $color-concrete;
      }
    }
    .carousel-image {
      width: 100%;
      max-height: 600px;
    }
  }
}