@import "/src/assets/variable.scss";

.home-container {
  > main {
    height: 50vh;
    .about-us {
      padding: 2vh 2vw;
      box-sizing: border-box;
      overflow-y: scroll;
      > h3 {
        > strong {
          color: $color-pumpkin;
        }
        > span {
          padding-left: 20%;
          font-family: $font-srisakdi;
          color: $color-asbestos;
        }
      }
      > div {
        color: $color-concrete;
      }
    }
    .carousel-image {
      width: 100%;
      height: 50vh;
    }
  }
}
