<div class="home-container">
  <main>
    <div class="about-us">
      <h3>
        <span> Đôi nét về </span>
        <strong class="block text-center"> Thiên Thanh </strong>
      </h3>
      <div>
        <p>Thiên Thanh Sport xin kính chào quý khách!</p>
        <p>
          Thiên Trường Sport với tiền thân là cơ khí Thiên Trường đã hoạt động
          được hơn 10 năm. Thiên trường sport thành lập công ty với tên gọi đầy
          đủ là CÔNG TY TNHH SẢN XUẤT THƯƠNG MẠI DỊCH VỤ THỂ THAO THIÊN TRƯỜNG
          gọi tắt là Thiên Trường Sport. Thiên trường sport có bề dày kinh
          nghiệm hoạt động bên lĩnh vực thể thao như: Cung cấp các sản phẩm về
          gym, thiết kế phòng gym, các sản phẩm gym nhập khẩu, Dụng cụ thể thao
          ngoài trời, thiết bị thể thao công viên, thiết bị mầm non cho các
          trường học cũng như là công viên. Thiên trường sport chuyên các sản
          phẩm thể thao phục vụ nhu cầu rèn luyện sức khỏe và vui chơi.
        </p>
        <p>
          Các danh mục lĩnh vực hoạt động chính của thiên trường sport: Thiết bị
          Gym : - Sản phẩm nhập khẩu -Sản phẩm gym tự sản xuất -Thiết kế phòng
          gym Dụng cụ thể thao ngoài trời : Thiên trường sport cung cấp các sản
          phẩm như: dụng cụ thể thao công viên, máy tập thể thao ngoài trời,
          thiết bị thể thao ngoài trời, thiết bị thể thao công viên, dụng cụ thể
          thao sân vườn, dụng cụ thể thao trường học, máy tập thể thao công viên
          với chất lượng cao nhất và giá rẻ hợp lý. Dụng cụ trẻ em ngoài trời -
          thiết bị mầm non: Thiên trường sport cung cấp các sản phẩm như: dụng
          cụ trẻ em ngoài trời, thiết bị trẻ em ngoài trời, thiết bị trẻ em mầm
          non, dụng cụ trẻ em công viên, dụng cụ trường mầm non, thiết bị vui
          chơi trẻ em, thiết bị trẻ em công viên, thiết bị mầm non và tư vấn lắp
          đặt khu vui chơi trẻ em, thiết kế khu vui chơi trẻ em trong nhà, thiết
          kế khu vui chơi trẻ em ngoài trời trên khắp mọi miền đất nước. Xưởng
          sản xuất của Thiên trường sport được trang bị những máy móc hiện đại
          nhằm đảm bảo được chất lượng sản phẩm tốt nhất đến với người sử dụng.
          Thiên trường sport phục vụ ở trên mọi miền đất nước. Với bề dày hoạt
          động trong lĩnh vực dụng cụ thể thao, sản phẩm của Thiên Trường Sport
          hiện diện khắp trên các tỉnh thành trên cả nước, Ở các thành phố lớn
          như Hải Phòng, Hà Nội, Đã Nẵng, Nha Trang, Tp Hồ Chí Minh, Cần Thơ,…
          được đầu tư nhiều hơn nên dễ dàng thấy các dụng cụ thể thao ngoài trời
          của Thiên trường sport hiện diện ở mọi nơi.
        </p>
      </div>
    </div>
    <div class="carousel">
      <carousel [noPause]="false">
        <slide>
          <img
            src="https://s7d2.scene7.com/is/image/TWCNews/brooklyn-gym-generic-file-covidjpg"
            alt="First slide"
            class="carousel-image"
          />
          <div class="carousel-caption d-none d-md-block">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </slide>
        <slide>
          <img
            src="https://s7d2.scene7.com/is/image/TWCNews/brooklyn-gym-generic-file-covidjpg"
            alt="Second slide"
            class="carousel-image"
          />
          <div class="carousel-caption d-none d-md-block">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </slide>
        <slide>
          <img
            src="https://s7d2.scene7.com/is/image/TWCNews/brooklyn-gym-generic-file-covidjpg"
            alt="Third slide"
            class="carousel-image"
          />
          <div class="carousel-caption d-none d-md-block">
            <h3>Third slide label</h3>
            <p>
              Praesent commodo cursus magna, vel scelerisque nisl consectetur.
            </p>
          </div>
        </slide>
      </carousel>
    </div>
  </main>
</div>