.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > div {
    flex: 1;
  }

  > app-footer {
    box-sizing: border-box;
    overflow: hidden;
  }
}
