// @import "/src/assets/variable.scss";

// .footer-container {
//   width: 100vw;
//   color: $color-carrot;
//   .footer-main {
//     padding: 20px 4vw;
//     background: $color-clouds;

    
//     p {
//       font-size: 14px;
//       letter-spacing: 0.8px;
//       line-height: 21px;
//     }

//     .contact {
//       > ul {
//         margin: 0;
//         list-style: none;

//         > li {
//           padding: 5px 0;

//           > p {
//             margin: 0;
//           }
//         }
//       }
//     }

//     > div > h1 {
//       font-size: 16px;
//       text-transform: uppercase;
//     }

//     .rule {
//       span {
//         font-style: italic;
//         color: $color-orange;

//         &:hover {
//           color: $color-sun-flower;
//         }
//       }
//       > :last-child {
//         height: 120px;
//         box-sizing: border-box;
//         overflow-y: auto;
//       }
//     }
//   }
// }

// @media only screen and (max-width: 1200px) {
//   * {
//     margin-bottom: 0 !important;

//     h1 {
//       font-size: 16px !important;
//     }

//     p {
//       font-size: 13px !important;
//     }

//     .footer-main {
//       padding: 10px 2vw !important;
//       > div {
//         margin-bottom: 10px !important;
//       }
//       .rule > :last-child {
//         height: auto !important;
//       }
//     }
//   }
// }

// @media only screen and (max-width: 600px) {
//   * {
//     margin-bottom: 0 !important;
//     .footer-main {
//       padding-bottom: 0 !important;
//       #ruleCollapse {
//         p {
//           margin-bottom: 5px !important;
//         }
//       }
//       > :last-child {
//         max-height: 135px;
//       }
//     }
//   }
// }

@import "/src/assets/variable.scss";

.footer-container {
  padding: 20px 2vw;
  color: $color-clouds;
  background: $color-silver;

  strong {
    color: $color-orange;
  }

  hr {
    width: 30%;
    margin: 10px 0;
  }

  >:last-child {
    >:last-child {
      &:hover, :visited {
        color: $color-orange;
      }
    }
  }

  ::ng-deep .popover {
    max-width: 40vw;
    background: $color-clouds;

    .popover-header {
      background-color: $color-orange;
    }
  }
}