<div class="footer-container">
  <div class="footer-main" fxLayout="row" fxLayoutAlign="space-between">
    <div fxFlex="25" class="contact">
      <h1>Dụng cụ thể thao Thiên Thanh</h1>
      <ul>
        <li>
          <p>
            <i class="las la-map-marked-alt"></i>
            Địa chỉ: 43/5 N Bà Điểm 5, Ấp Tây Lân, Xã Bà Điểm, Huyện Hóc Môn, TP
            HCM
          </p>
        </li>
        <li>
          <p><i class="las la-tty"></i> Hotline: 0936442909 - 0964029436</p>
        </li>
        <li>
          <p>
            <i class="las la-envelope"></i> Email: info@thientruongsport.com
          </p>
        </li>
      </ul>
    </div>
    <div fxFlex="40" class="rule">
      <h1>Chính sách bảo hành & bảo trì</h1>
      <div>
        <div [collapse]="!isCollapsed">
          <p class="none-margin">
            <i class="las la-check"></i> Công ty TNHH SX TM DV TT Thiên Trường
            cung cấp chính sách bảo hành sản phẩm từ 12 đến 36 tháng tùy vào
            dòng sản phẩm...
          </p>

          <span
            class="block text-right"
            (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed"
            aria-controls="ruleCollapse"
            >Đọc thêm <i class="las la-angle-down"></i
          ></span>
        </div>
        <div id="ruleCollapse" [collapse]="isCollapsed" [isAnimated]="true">
          <p>
            <i class="las la-check"></i> Công ty TNHH SX TM DV TT Thiên Trường
            cung cấp chính sách bảo hành sản phẩm từ 12 đến 36 tháng tùy vào
            dòng sản phẩm.
          </p>
          <p>
            <i class="las la-check"></i> Bảo hành Thiên Trường áp dụng với sản
            phẩm bị hư hỏng do lỗi của nhà sản xuất. Không bao gồm bất kỳ thiệt
            hại sau khi mua, hoặc khiếm khuyết và hư hỏng do sản phẩm không được
            sử dụng và bảo quản đúng cách.
          </p>
          <p>
            <i class="las la-check"></i> Không bao gồm hao mòn thông thường, các
            vết cắt hoặc vết trầy xước do tác động hoặc tai nạn. Sản phẩm thuộc
            cửa hàng giảm giá sẽ không được áp dụng chính sách bảo hành.
          </p>
          <p>
            <i class="las la-check"></i> Chính sách bảo hành có hiệu lực từ ngày
            mua hàng và chỉ chấp nhận hóa đơn gốc.
          </p>
          <p>
            <i class="las la-check"></i> Thiên Trường sport sẽ căn cứ theo quy
            định để áp dụng hình thức bảo hành là sửa chữa, thay thế hoặc hoàn
            trả lại sản phẩm.
          </p>
          <p class="inline">
            <i class="las la-heart"></i> Tất cả sản phẩm của Thiên Thanh đều
            được hỗ trợ bảo trì lên đến 5 năm.
          </p>

          <span
            class="block text-right"
            (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed"
            aria-controls="ruleCollapse"
            ><i class="las la-angle-up"></i> Ẩn bớt</span
          >
        </div>
      </div>
    </div>
    <div fxFlex="20" class="rule">
      <h1>Facebook</h1>
      <iframe
        src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fhariwongiatao&tabs=timeline&width=250&height=200&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
        width="250"
        height="200"
        style="border: none; overflow: hidden"
        scrolling="no"
        frameborder="0"
        allowfullscreen="true"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
      ></iframe>
    </div>
  </div>
</div>
