@import "/src/assets/variable.scss";

.footer-container {
  padding: 20px 2vw;
  color: $color-clouds;
  background: $color-silver;

  strong {
    color: $color-orange;
  }

  hr {
    width: 30%;
    margin: 10px 0;
  }

  >:last-child {
    >:last-child {
      &:hover, :visited {
        color: $color-orange;
      }
    }
  }

  ::ng-deep .popover {
    max-width: 600px;
    background: $color-clouds;

    .popover-header {
      background-color: $color-orange;
    }
  }
}