<div class="footer-container text-center">
  <div>
    <i class="las la-address-book color-pumpkin"> LIÊN HỆ: </i>    
    &nbsp;
    <p class="inline-block">
      <i class="las la-map-marked-alt color-pumpkin"> Địa chỉ: </i>
       43/5 N Bà Điểm 5, Ấp Tây Lân, Xã Bà Điểm, Huyện Hóc Môn, TP HCM
    </p>
    &nbsp;
    &nbsp;
    <p class="inline-block"><i class="las la-tty color-pumpkin"> Hotline: </i> 0936442909 - 0964029436</p>
    &nbsp;
    &nbsp;
    <p class="inline-block">
      <i class="las la-envelope color-pumpkin"> Email: </i> info@thientruongsport.com
    </p>
  </div>
  <hr class="inline-block" color="#ecf0f1">
  <div>
    <p
      class="format-btn-outline inline-block"
      containerClass="popover"
      [popover]="rule"
      popoverTitle="Dành cho bạn"
      placement="top left"
      [outsideClick]="true">Chính sách bảo hành, bảo trì
    </p>
    &nbsp;
      <p class="inline-block color-asbestos">
        | &nbsp; <i class="las la-copyright"></i> 2020. ARS. Thiên Thanh Gym. &nbsp; |
      </p>     
     &nbsp; 
     <p class="inline-block">
      <i class="lab la-connectdevelop color-pumpkin"> Kết nối với chúng tôi: </i> &nbsp;
      <a class="format-btn"><i class="lab la-lg la-facebook-square"></i></a>
     </p>
  </div>
</div>

<ng-template #rule>
  <p>
    <i class="las la-check"></i> Công ty TNHH SX TM DV TT Thiên Thanh
    cung cấp chính sách bảo hành sản phẩm từ 12 đến 36 tháng tùy vào
    dòng sản phẩm.
  </p>
  <p>
    <i class="las la-check"></i> Bảo hành Thiên Thanh áp dụng với sản
    phẩm bị hư hỏng do lỗi của nhà sản xuất. Không bao gồm bất kỳ thiệt
    hại sau khi mua, hoặc khiếm khuyết và hư hỏng do sản phẩm không được
    sử dụng và bảo quản đúng cách.
  </p>
  <p>
    <i class="las la-check"></i> Không bao gồm hao mòn thông thường, các
    vết cắt hoặc vết trầy xước do tác động hoặc tai nạn. Sản phẩm thuộc
    cửa hàng giảm giá sẽ không được áp dụng chính sách bảo hành.
  </p>
  <p>
    <i class="las la-check"></i> Chính sách bảo hành có hiệu lực từ ngày
    mua hàng và chỉ chấp nhận hóa đơn gốc.
  </p>
  <p>
    <i class="las la-check"></i> Thiên Thanh sport sẽ căn cứ theo quy
    định để áp dụng hình thức bảo hành là sửa chữa, thay thế hoặc hoàn
    trả lại sản phẩm.
  </p>
  <p class="inline">
    <i class="las la-heart"></i> Tất cả sản phẩm của Thiên Thanh đều
    được hỗ trợ bảo trì lên đến 5 năm.
  </p>
</ng-template>