@import "./variable.scss";

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.none-margin {
  margin: 0;
}

.pointer {
  cursor: pointer;
}

.overflow-x-hidden {
  box-sizing: border-box;
  overflow-x: hidden;
}

.overflow-y-hidden {
  box-sizing: border-box;
  overflow-y: hidden;
}

.overflow-hidden {
  box-sizing: border-box;
  overflow: hidden;
}

.color-pomegranate {
  color: $color-pomegranate;
}

.color-emerald {
  color: $color-emerald;
}
