@import "./variable.scss";
.hidden {
  visibility: hidden !important;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.none-margin {
  margin: 0;
}

.pointer {
  cursor: pointer;
}

.overflow-x-hidden {
  box-sizing: border-box;
  overflow-x: hidden;
}

.overflow-y-hidden {
  box-sizing: border-box;
  overflow-y: hidden;
}

.overflow-hidden {
  box-sizing: border-box;
  overflow: hidden;
}

.color-orange {
  color: $color-orange;
}

.color-pomegranate {
  color: $color-pomegranate;
}

.color-pumpkin {
  color: $color-pumpkin;
}

.color-carrot {
  color: $color-carrot;
}

.color-clouds {
  color: $color-clouds;
}

.color-asbestos {
  color: $color-asbestos;
}

.color-emerald {
  color: $color-emerald;
}

.format-btn {
  cursor: pointer;
  color: $color-clouds;
  background: $color-orange;
  border: 1px solid $color-orange;
  border-radius: 5px;transition-duration: 0.4s;

  &:hover, :visited {
    color: $color-orange;
    border-color: $color-clouds;
    background: transparent;
  }
}

.format-btn-outline {
  cursor: pointer;
  color: $color-clouds;
  outline-color: $color-orange;
  padding: 5px 10px;
  border: 1px solid $color-orange;
  border-radius: 5px;
  background-color: transparent;
  transition-duration: 0.4s;

  &:hover, :visited {
    color: $color-orange;
    border-color: $color-clouds;
    background-color: $color-clouds;
  }
}