// =============================
// ***********COLOR*************
// =============================
$color-clouds: #ecf0f1;
$color-concrete: #95a5a6;
$color-silver: #bdc3c7;
$color-asbestos: #7f8c8d;
$color-sun-flower: #f1c40f;
$color-carrot: #e67e22;
$color-orange: #f39c12;
$color-pumpkin: #d35400;
$color-emerald: #2ecc71;

// =============================
// ************FONT*************
// =============================
$font-srisakdi: "Srisakdi", cursive;
