<div class="products-container">
  <div class="products-title" *ngIf="paginatedData.products.length === 0">
    <h5 class="color-orange mb-4">
      {{ paginatedData.name }}
      <span *ngIf="searchName" class="inline-block color-asbestos"
        >&ldquo;{{ searchName }}&rdquo; :</span
      >
    </h5>
    <div>
      <h6 class="color-asbestos">Không có sản phẩm nào phù hợp!</h6>
    </div>
  </div>
  <div *ngIf="paginatedData.products.length > 0">
    <div class="card mb-2">
      <div class="card-body">
        <div class="products-pagination justify-content-end" fxLayout="row wrap">

        <div class="align-self-center mt-1 mb-1 mr-auto">
          <h5 class="color-orange none-margin">
            {{ paginatedData.name | uppercase }}
            <span *ngIf="searchName" class="inline-block color-asbestos"
              >&ldquo;{{ searchName }}&rdquo; :</span
            >
            &nbsp;
            {{ totalItems }}
            <span class="color-asbestos"> sản phẩm </span>
          </h5>
        </div>
        <div class="mt-1 mb-1">
          <pagination
            [directionLinks]="false"
            [totalItems]="totalItems"
            [itemsPerPage]="itemsPerPage"
            [(ngModel)]="currentPage"
            (numPages)="(currentPage)"
            (pageChanged)="pageChanged($event)"
          >
          </pagination>
        </div>
        <div class="text-right justify-content-center mt-1 mb-1 ml-4">
          <select
            class="pointer"
            name="page"
            id="page"
            [(ngModel)]="itemsPerPage"
            (change)="pageChanged()"
          >
            <option value="{{ itemsPerRow * 5 }}">{{ itemsPerRow * 5 }} sp</option>
            <option value="{{ itemsPerRow * 10 }}">{{ itemsPerRow * 10 }} sp</option>
            <option value="{{ itemsPerRow * 20 }}">{{ itemsPerRow * 20 }} sp</option>
            <option value="{{ totalItems }}">Tất cả</option>
          </select>
          <label class="none-margin" for="page">&nbsp;| trang</label>
        </div>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between">
      <div *ngFor="let product of paginatedData.products" class="card" style="width: 18rem;"
      fxFlex="32"
      fxFlex.lt-md="48"
      fxFlex.lt-sm="96">
        <img [src]="product.image" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <!-- <div class="products" fxLayout="row wrap">
      <div
        class="pointer text-center"
        *ngFor="let product of paginatedData.products"
        fxFlex="32"
        fxFlex.lt-md="48"
        fxFlex.lt-sm="96"
      >
        <img src="{{ product.image }}" alt="" />
        <div>
          <h5 class="color-pumpkin">
            <strong>
              {{ product.name }}
            </strong>
          </h5>
          <p>
            <span class="color-carrot">Liên hệ</span>
            &nbsp; <i class="las la-lg la-hand-point-right"></i> &nbsp;
            <span class="color-carrot">giá tốt nhất</span>
          </p>
        </div>
      </div>
    </div> -->
  </div>
</div>
